<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#          crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="static_head clearfix">
                <a href="{% url 'main' %}">
                    <div id="logo"></div>
                    <div id="companyName">Магазин ретро-диванов "Старый друг"</div>
                </a>
                {% include 'mainapp/includes/inc_menu.html' %}
            </div>
            {% include 'mainapp/includes/inc_user.html' %}
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer">
            <div id="now">{% now "jS F Y" %}</div>
            <div id="copyright">
                <!--   «Все права защищены»    -->
                Copyright &copy; <a href="https://www.instagram.com/lord_vycrum/" target="_blank">Lord Vycrum Blossom</a>
            </div>
        </div>
    </div>
{% block js %}
{% endblock %}
</body>

</html>
