{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Каталог </title>
{% endblock %}

{% block content %}
    <div class="content">
        <h2>Каталог</h2>
        <div class="products_list">
            {% for product, id in products %}
<!--                <p>{{ product }}</p>-->
                <div class="item">
                    <img src="/static/img/{{ product }}_small.jpg" alt="{{ product }}"><br>
                    <a href="catalog/{{ product }}.html">Диван #{{ id }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
