<div class="user_auth">
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            {{ user }}
        </a>
    </li>
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'adminapp:admin_home' %}">Admin</a>
    </li>
    {% endif %}
    {% if basket %}
    <a href="{% url 'basket:view' %}" class="basket">
        <li>
            Items: {{ basket_quantity }}
        </li>
        <li>
            Price: {{ basket_total_price }} RUB
        </li>
    </a>
    {% endif %}
    <li>
        <a href="{% url 'auth:logout' %}">Log Out</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'auth:login' %}">Log In</a>
    </li>
    <li>
        <a href="{% url 'auth:register' %}">Sign Up</a>
    </li>
    {% endif %}
</div>