{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>User Basket</title>
{% endblock title %}

{% block content %}
    <div class="basket_list">
        {% include 'basketapp/includes/inc_basket_list.html' %}
    </div>
    <button class="btn btn-round">
        <a href="{% url 'main' %}">
            Homepage
        </a>
    </button>
{% endblock content %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/basket_scripts.js' %}"></script>
{% endblock js %}